@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
}
button{
    background-color: transparent;
    border: none;
    color: inherit;
}
a{
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}
footer li, nav ul li{
    list-style-type: none;
}

:root{
    --dark-high : #08090A;
    --dark-mid : #151616;

    --light1 : #FFFFFF;
    --light2 : #18E299;
    --light3 : #B4B6B6  ;
    --light4 : #0C8C5E;

    --hover-shade1 :#ffffff10;
    font-size: 62.5%;
}

body{
    background-color: var(--dark-high);
    color: var(--light1);
    font-family: inter, "inter Fallback";
    font-size: 1.5rem;
}


/* IMP:Using it as website boundary */
.content-boundary{
    display: block;
    width:68%;
    margin: auto;
}
/* navbar styling started */
header{
    position: fixed;
    width: 100%;
    top: 0px;
}
header div.content-boundary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 12px;
}
header nav ul{
    display: flex;
    gap:15px;
}
header ul a{
    padding: 6px 12px;
}
header ul a:hover{
    transition: 200ms linear;
    background-color: var(--hover-shade1);
    border-radius: 50px;

}
#mintlifyLogo{
    width: 110px;
}
.header-right{
    display: flex;
    gap: 8px;
}
#contactSalesBtn{
    background-color: var(--hover-shade1);
}
#contactSalesBtn, #startFreeBtn{
    border-radius: 50px;
    padding: 8px 12px;
}
#startFreeBtn{
    background-color: var(--light1);
    color: var(--dark-high);
}
/* navbar completed till here */
.sample{
    border: 0.1px solid transparent;
}
/* Hero section started here */
.hero-section{
    background-image: url(/assets/hero-image-top.svg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
}
.hero-section > .content-boundary{
    display: flex;
    flex-direction: column;
    padding-top: 15vh;
    gap: 30px;
}
.docs-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8080808a;
    width: max-content;
    gap: 10px;
    padding: 4px 6px;
    border-radius: 15px;
    margin: auto;
}
.docs-button .new-mark{
    background-color: var(--light4);
    padding: 3px 7px;
    font-size: 14px;
    border-radius: 15px;
}
.docs-button svg{
    width: 16px;
}

.hero-section h1{
    text-align: center;
    font-size: 6.4rem;
    line-height: 7.4rem;
}
.main-subtitle{
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.7rem;
}

.start-now-input{
    width: max-content;
    background-color: #8080808a;
    padding: 3px 4px 3px 10px;
    border-radius: 50px;
    margin: auto;
}
.start-now-input input::placeholder{
    color:#80A1AB;
}
.start-now-input input{
    border: none;
    background-color: transparent;
    outline: none;
    color: inherit;
    margin-left: 4px;
}
.start-now-input button{
    border-radius: 50px;
    padding: 8px 12px;
    background-color: var(--light1);
    color: var(--dark-high);
}

#heroBottomImage{
    width: 100%;
    border: 2px solid var(--hover-shade1);
    border-bottom: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 80px;
}
/* Hero Section ended here */

/* companies svg container section starts here */
.companies-using{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 30px;
    place-items: center;
    padding-inline: 20px;
    margin-block: 100px;
}
.companies-using img{
    width: 60%;
}
/* companies svg container section ends here */

/* built for intellgence section starts */
.intelligent-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.4rem;
}
.intelligent-card-multibox{
    grid-column: 1 / -1;
}
.intelligent-section h2{
    text-align: center;
    font-size: 4rem;
    margin-block: 160px 25px;
}
.intelligent-section-p{
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--light3);
    margin-bottom: 50px;
}
.intelligent-card{
    border: 1px solid var(--hover-shade1);
    padding: 2.4rem;
    border-radius: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.intelligent-card > div{
    display: flex;
    flex-direction: column;
    gap: 15px;

}
.intelligent-card-label{
    color: var(--light2);
    font-size: 1.2rem;
}
.intelligent-card h3{
    font-size: 2.4rem;
}
.intelligent-card-p{
    color: var(--light3);
    font-size: 1.6rem;
}
.intelligent-cards img{
    width: 100%;
}
/* built for intellgence section ends*/